<% include('../layouts/header.ejs')%>
    <h1>Registration </h1>
<form action="" method ="POST" >
    <input type = "text" name = "name" placeholder="Name" required>
    <br><br>
    <input type ="email" name="email"  placeholder="Email" required>
    <br><br>
    <input type="text"   name="mobile"    placeholder="Mobile" required>
    <br><br>
    <input type="password" name="password" placeholder="password" required>
    <br><br>
    <input type="submit" value="Register">
</form>


<%
 if(typeof message !== 'undefined'){
    %>
    <p style="color:green"><%= message %></p>
    <%
 }
%>

<% include('../layouts/footer.ejs')%>